
.navbar {
  width: 100%;
  background: #000;
  position: sticky;
  top: 0;
  z-index: 1000;
  border-bottom: 1px solid rgba(255,255,255,0.1);
  box-shadow: 0 5px 25px rgba(0, 255, 234, 0.15);
}



.navbar-container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
}

.navbar-right {
  display: flex;
  gap: 32px;            
  align-items: center;
}

.navbar-right a {
  color: #ffffff;        
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
}

.navbar-right a:hover {
  color: #ff4d4d;         
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #00d0ff;
}
