.recipes-section {
  padding: 80px 20px;
  text-align: center;
  color: white;
  scroll-margin-top: 140px;
}


.recipes-title {
  font-size: 40px;
  margin-bottom: 20px;
  font-weight: 700;
}

.recipes-subtitle {
  font-size: 20px;
  color: #cccccc;
  margin-bottom: 40px;
}

.recipes-grid {
  max-width: 900px;
  margin: 0 auto;
  display: grid;
  gap: 30px;
}

.recipe-card {
  background: #111;
  padding: 30px;
  border-radius: 12px;
  border: 1px solid #ff0000;
  box-shadow: 0 0 20px rgba(255, 0, 0, 0.4);
}
