body {
  background-color: #0d0d0d;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: white;
}

.loading-text {
  text-align: center;
  margin-top: 50px;
  font-size: 24px;
  font-weight: 300;
}

html {
  scroll-behavior: smooth;
}
